.highlight {
  color: rgb(78, 78, 255);
}

/* Table.css */
.action-button {
  display: none;
}

.react-data-table__row:hover .action-button {
  display: block;
}

.action-button button {
  padding: 5px 10px;
  background-color: #0796f50f;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  
}

.action-button button:hover {
  background-color: #0056b3;
}


/* Tailwind CSS Custom Scrollbar */
/* Custom Scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #4a90e2;
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.moreInfoSpan{
  color: #0056b3;
}